<section class="Master">
    <div class="Master-info">
        <div class="Master-list" *ngIf="userList && userList.length > 0">
            <div class="Master-listItem s-text" *ngFor="let user of userList; index as i">
                {{ i + 1 }}. {{ user }}
            </div>
        </div>
        <div class="Master-listPlaceholder s-text" *ngIf="!userList || userList.length == 0">
            Ожидание данных
        </div>
    </div>
    <div class="Master-actions">
        <div class="Master-actionsInner">
            <div class="Master-actionClear s-button color-1" (click)="clear()"><span>Очистить</span></div>
            <div class="Master-actionClear s-button color-2" (click)="get()"><span>Обновить</span></div>
        </div>
    </div>
</section>
