@component: .Master;

@{component} {
    &-actions {
        position: fixed;
        bottom: 0;
        background-color: #ffffff;
        width: 100vw;
        display: flex;

        &Inner {
            padding: 5vw 10vw;
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media screen and (min-width: 768px) {
                margin-left: auto;
                padding: 38px 76px;
                width: 520px;
            }
        }
    }

    &-info {
        padding: 40 / 1920 * 100vw;
    }
}
