<section class="Player">
    <div class="Player-input">
        <label for="name" class="s-text">Введите имя</label>
        <input class="s-text" id="name" [(ngModel)]="name" (ngModelChange)="onInputChange($event)"/>
    </div>
    <div class="Player-submitWrapper">
        <div class="Player-submit s-button color-1" [ngClass]="{'disabled': !isButtonEnabled()}" (click)="play()"><span>Я первый!</span></div>
    </div>
</section>
