@component: .Player;


@{component} {
    padding: 10vw;

    @media screen and (min-width: 768px) {
        padding: 76px;
    }

    &-submitWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10vw;

        @media screen and (min-width: 768px) {
            margin-top: 76px;
        }
    }

    &-submit {
        width: 60vw;
        height: 60vw;
        font-size: 200 / 1920 * 100vw;

        @media screen and (min-width: 768px) {
            width: 460px;
            height: 460px;
            font-size: 80px;
        }
    }

    &-input {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

        label {
            display: block;
        }

        input {
            outline: none;
            margin-top: 5vw;
            border: none;
            -webkit-border-radius: 0;
            border-bottom: 1px solid #cccccc;
            padding: (50 / 1920 * 100vw) 0;
            width: 100%;

            @media screen and (min-width: 768px) {
                padding: 20px 0;
                margin-top: 40px;
            }

            &:focus {
                border-bottom: 1px solid #000000;
                outline: none;

            }
        }
    }
}
