<section class="Main">
    <div class="Main-title s-title">Кто первый?</div>
    <div class="Main-buttons">
        <div class="s-button color-1" (click)="onMasterClick()"><span>Я ведущий</span></div>
        <div class="s-button color-2" (click)="onPlayerClick()"><span>Я игрок</span></div>
    </div>
</section>
