@component: .Main;

@{component} {
    padding: 0 10vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        text-align: center;
        margin-bottom: 10vw;

        @media screen and (min-width: 768px) {
            margin-bottom: 76px;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        max-width: 600px;
        width: 100%;
    }
}
