/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.s-button {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 100 / 1920 * 100vw;
    outline: none;
    border: none;
    cursor: pointer;

    &.color-1 {
        background-color: #0c9986;
    }

    &.color-2 {
        background-color: #773773;
    }

    &.disabled {
        background-color: #ccc;
        pointer-events: none;
        color: #999999;
    }

    @media screen and (min-width: 768px) {
        font-size: 40px;
        width: 250px;
        height: 250px;
    }

    span {
        pointer-events: none;
    }
}

.s-text {
    font-size: 150 / 1920 * 100vw;

    @media screen and (min-width: 768px) {
        font-size: 60px;
    }
}

.s-title {
    font-size: 200 / 1920 * 100vw;
    color: #444444;

    @media screen and (min-width: 768px) {
        font-size: 80px;
    }
}
